- provide(:title, "Home")

.Main
  .Main__screen
    .Top
      .Top__logo

    .Game-area
      .Static-area
        .Static-area__logo
          .Header__logo
            %h1
              %span.Header__logo--g
                g
              %span.Header__logo--r
                r
              %span.Header__logo--o
                o
              %span.Header__logo--w
                w
            %h2
              グロウ
          .Main-title
            Typing

          - if @current_users_word .present?
            = link_to('PLAY', game_path(current_user.id), class: "Static-area__btn")
          - else
            = link_to('PLAY', new_word_path, class: "Static-area__btn")
            
        .Ball