.Main
  .User-part
  
    .Page-title__contents
      %h1
        文字の一覧
    .Table
      %table
        %thead
          %tr.table-head
            %th
              質問
            %th
              答え
            %th
              打つ文字
      %table
        %tbody.table-body
          - @words.each do |word|
            %tr
              %td
                = link_to word.question, edit_word_path(word.id)
              %td
                = link_to word.answer, edit_word_path(word.id)
              %td
                = link_to word.target, edit_word_path(word.id)