.Form {
  margin-top: 50px;
  @extend .flex-center;

  &__field > input {
    @extend .input_field;
  }
  &__action > input {
    float: right;
    cursor: pointer;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 0 $orange;
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    height: 50px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    &:hover {
      background-color: gold;
    }
    &:active {
      background-color: $light-yellow;
      position: relative;
      top: 3px;
    }
  }
}

.field_with_errors > input {
  @extend .input_field;
}

.input_field {
  margin: 10px 0 20px;
  padding: 0 15px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 4px;
}

.Form__error {
  display: inline-block;
  float: right;
  margin-left: 50px;
  color: red;
}