.Game-area {
  background-color: #bbe2f1;
  width: 900px;
  height: 80vh;

  &__title {
    height: 95px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--btn {
      border-radius: 5px;
      margin: 0 40px;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__time {
    padding: 10px 0 0 20px;
    display: flex;
  }

  &__contents {
    background-color: rgba(0, 0, 0, 0.5);
    width: 380px;
    margin: 20px auto;
    padding: 5px 0;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 10px;
    color: #fff;
    
    h1 {
      padding: 5px;
      font-size: 25px;
    }
  }

  & p {
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
  }
}


#Cover {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  border-top: 2px dotted #ea5550;
  border-bottom: 2px dotted #ea5550;
  margin: 0 auto;
  background-color: #fff3b8;
  z-index: 10;
  font-family: 'Comic Sans MS', cursive, '游ゴシック';
  display: flex;
  justify-content: center;
  align-items: center;
  
  p {
    font-size: 50px;
    animation: flashing 3s ease-out infinite;
  }
}

#GameOver {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  border-top: 2px dotted #ea5550;
  border-bottom: 2px dotted #ea5550;
  margin: 0 auto;
  background-color: #fff3b8;
  z-index: 10;
  font-family: 'Comic Sans MS', cursive, '游ゴシック';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  p {
    text-align: center;
  }
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#dinosaur {
  width: 100px;
  height: 100px;
  background-size: 100px;
  animation-name: approach;
  animation-duration: 10s;
  animation-delay: 5s;
}

@keyframes approach {
  0% {
    margin-left: 50%;
  }

  50% {
    margin-left: 0%;
    margin-top: 5%;
  }

  100% {
    margin-left: 50%;
  }
}

#big-dinosaur {
  display: none;
  position: absolute;
  animation-duration: 5s;
  animation-timing-function: steps(10, start);
}

@keyframes run {
  0% {
    transform:translateX(-1000px) translateY(20px) rotate(10deg);
  }

  50% {
    transform:translateX(1000px) translateY(20px) rotate(-10deg);
  }

  100% {
    transform:translateX(-100px) translateY(20px) rotate(-10deg);
  }
}

canvas {
  background-color: #bbe2f1;
  top: 80;
  display: inline-block;
  margin: 0 auto;
  cursor: none;
}