@import "variable";

#Notice {
  z-index: 20;
  background-color: rgba(255, 20, 147, 0.7);
  border-radius: 5px;
  position: absolute;
  top: 160px;
  left: 40px;
  padding: 10px;
  width: 400px;
  height: 80px;
  color: $white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 60px;
  animation-name: flash;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}