.Table {
  margin-top: 20px;
}


table {
  width: 100%;
}

.table-head {
  width: inherit;
}

.table-body {
  border: 1px solid black;
  height: 350px;
  display: block;
  overflow-y: scroll;
}

th {
  width: calc(100% / 3);
  padding: 20px;
}

td { 
  width: 280px;
  padding: 30px 5px;
  text-align: center;
  & > a:hover {
    color: $red;
  }
}