$main-font: 'Comic Sans MS', cursive, '游ゴシック';

$dot-border: 2px dotted #ea5550;

$white: #fff;
$black: #000;
$green: #9cbb1c;
$yellow: #ffdc00;
$pink: #d83473;
$orange: #f39800;
$light-yellow: #fff3b8;
$light-blue: #bbe2f1; 

.Main {
  width: 100vw;
  height: 80vh;
  display: flex;
  background-color: $light-yellow;
}

.Main__side {
  flex-grow: 1;
  background-color: $light-yellow;
}

.center-screen {
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 900px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 20px auto 0;
    padding: 16px 0;
    width: 450px;
    text-align: center;
    color: $white;
}

.Page-title {
  @extend .flex-center;
  &__contents {
    @extend .title;
    height: 80#{px};
    line-height: 40px;
    letter-spacing: 10px;
    font-size: 25px;
  }
  &__btn {
    display: inline-block;
    margin: 0 50px;
    font-size: 18px;
    &--question {
      margin: 10px 60px 0;
      font-size: 25px;
      cursor: pointer;
    }
  }
}