.Main
  .Main__left

  .Main__screen
    .Top
      .Top__logo

    .Game-area
      .Game-area__time
        %p
          残り 
        %p#timer
          60
        %p
          秒
      .Game-area__contents
        %p#question
          問題文がここにきます
        %p#answer
          答えの文がここにきます
        
      
      #Cover
        %p
          press the space key to start
      #GameOver
        %p
          結果発表
        %p#score
          成功タイプ数 0
        %p#miss
          ミスタイプ数 0
      
        
      %canvas#maincanvas(width="900" height="440")
        このブラウザは HTML5 Canvas に対応していません。
        %p#target
          タイピングする文がここにきます

  
      
      
  .Main__right
    = content_tag :div, "", id: "questions", data: { questions: @questions }
    = content_tag :div, "", id: "answers", data: { answers: @answers }
    = content_tag :div, "", id: "targets", data: { targets: @targets }