@import "modules/variable";

.Header {
  font-family: $main-font;
  background-color: $white;
  border-bottom: $dot-border;
  padding: 0 20px;
  height: 10vh;
  display: flex;
  justify-content: space-between;

  &__logo {
    h1 {
      @extend .flex-center;
      font-size: 50px;
    }
    &--g { color: $green; }
    &--r { color: $yellow; } 
    &--o { color: $pink; } 
    &--w { color: $orange; }

    h2 {
      font-size: 10px;
      text-align: center;
      color: $black;
    }
  }

  &__nav {
    & > ul {
      margin-right: 15px;
      width: 230px;
      height: 10vh;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        letter-spacing: 5px;
        &:hover {
            transition: 0.2s;
            color: pink;
        }
      }
    }
  }
}